.btn {
    display: flex;
    align-items: center;
    background: #6a983c;
    border: 2px solid #46760a;
    border-radius: 12px;
    color: #ffff;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease-in-out;
    &:hover:not(:disabled) {
      background-color: #46760a;
      transition: all 0.5s ease-in-out;
    }
    &-back {
      padding: 10px;
      margin-top: 20px;
    }
    &.clear {
      padding: 10px;
      margin: 15px 0 0 auto;
    }
    &.authorization {
      padding: 15px 55px;
      &:disabled {
        background-color: #d1d1d1;
        border: 2px solid #d1d1d1;
        color: #151515;
      }
    }
    &.exit {
      display: block;
      &.bottom {
        display: none;
      }
      &.top {
        padding: 15px 55px;
      }
    }
    &-operation {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      border: 1px solid #d1d1d1;
      padding: 4px;
      opacity: 1;
      background-color: transparent;
      transition: all 0.4s ease-in-out;
      &:hover:not(:disabled) {
        background-color: #c8deb3;
      }
      &:disabled {
        background-color: #f5f5f5;
      }
      &.minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }
      }
    }
    &.cabinet-confirm {
      align-self: start;
      width: 200px;
      padding: 10px 0;
      justify-content: center;
    }
  }