@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap");
@import url("css/fonts.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: #f9f9f9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #151515;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.content {
  background-color: #ffffff;
  padding: 0 45px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  line-height: 48px;
}

.content.bg {
  background-color: #f9f9f9;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.header {
  z-index: 2;
}

.header__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav::after {
  position: absolute;
  content: '';
  background-color: #151515;
  opacity: 0.05;
  height: 1px;
  width: 100%;
  bottom: 0;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contacts__list-item {
  padding: 16px 0;
}

.header__contacts__list-item + .header__contacts__list-item {
  padding-left: 32px;
}

.header__contacts__list-link {
  line-height: 16px;
  font-weight: 400;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header__contacts__list-link:hover {
  color: #6a983c;
}

.header__center {
  padding: 40px 0 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom {
  border-color: #f9f9f9;
}

.header__pages {
  padding: 16px 0;
}

.header__pages-text {
  color: #a9a9a9;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.header__pages-text.active {
  color: #151515;
}

.header__pages-text + .header__pages-text {
  margin-left: 8px;
}

.header__pages-text.link:hover {
  color: #151515;
}

.burger__menu {
  position: relative;
  display: none;
  width: 30px;
  height: 20px;
  z-index: 4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.burger__menu::before, .burger__menu::after {
  content: '';
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.burger__menu span {
  position: absolute;
  background-color: #151515;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
}

.burger__menu::after {
  bottom: 0;
}

.burger__menu.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.burger__menu.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.burger__menu.active span {
  display: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.logo-link.nav {
  display: none;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__adaptive {
  position: fixed;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  background-color: #f9f9f9;
  z-index: 2;
  top: 0;
  width: 250px;
  height: 100vh;
  padding: 0 10px;
  right: -100%;
}

.nav__adaptive.active {
  right: 0;
  overflow: auto;
}

.nav__adaptive-title {
  font-size: 24px;
  padding-top: 20px;
  margin-bottom: 25px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list-item {
  padding: 16px 0;
}

.nav__list-item + .nav__list-item {
  padding-left: 32px;
}

.nav__list-link {
  line-height: 16px;
  font-weight: 400;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav__list-link:hover {
  color: #6a983c;
}

.nav__list .lime {
  color: #6a983c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size 0.5s ease-in-out;
  transition: background-size 0.5s ease-in-out;
}

.nav__list .lime:hover {
  background-size: 100% 1px;
}

.nav__list .lime + .lime {
  margin-left: 38px;
}

.search {
  display: inline-block;
  background-color: #f9f9f9;
  padding: 10px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.search-categories {
  display: inline;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 22px;
  margin-right: 48px;
  padding-right: 20px;
}

.search-categories::after {
  position: absolute;
  content: '';
  background-image: url("assets/img/ic-chevron-down.svg");
  width: 16px;
  height: 16px;
  right: 0px;
  top: 3px;
}

.search__input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input-txt {
  background-color: transparent;
  font-size: 14px;
  border-color: transparent;
  width: 262px;
  padding-left: 24px;
  border-left: 1px solid #d1d1d1;
}

.search__input-txt::-webkit-input-placeholder {
  color: #a9a9a9;
  font-family: 'Open Sans', sans-serif;
}

.search__input-txt:-ms-input-placeholder {
  color: #a9a9a9;
  font-family: 'Open Sans', sans-serif;
}

.search__input-txt::-ms-input-placeholder {
  color: #a9a9a9;
  font-family: 'Open Sans', sans-serif;
}

.search__input-txt::placeholder {
  color: #a9a9a9;
  font-family: 'Open Sans', sans-serif;
}

.search__input-icon {
  margin-left: 12px;
  width: 16px;
  height: 16px;
  border-color: transparent;
}

.cabinet__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabinet__list-link.basket {
  margin-left: 40px;
  position: relative;
}

.cabinet__list-basket-count {
  position: absolute;
  bottom: -13px;
  left: -3px;
  background-color: #e5704b;
  padding: 0px 5px;
  border-radius: 12px;
  color: #ffff;
  font-weight: 600;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 40px 16px 0;
  cursor: pointer;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu__list-link {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #6a983c;
  border: 2px solid #46760a;
  border-radius: 12px;
  color: #ffff;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: #46760a;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__inner {
  padding-top: 64px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list-item-title {
  position: relative;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  line-height: 27px;
  font-size: 18px;
}

.footer__list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list-info-item {
  padding-top: 16px;
}

.footer__list-info-link {
  color: #6a983c;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size 0.5s ease-in-out;
  transition: background-size 0.5s ease-in-out;
}

.footer__list-info-link:hover {
  background-size: 100% 1px;
}

.footer__author {
  font-size: 14px;
  line-height: 19px;
  padding: 48px 0 64px 0;
}

.products__tags {
  margin-top: 48px;
}

.products__tags-title {
  font-weight: 600;
  line-height: 27px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.products__tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__tags-list-item {
  margin-top: 16px;
}

.products__tags-list-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 18px;
  padding: 4px 10px;
  white-space: nowrap;
  background: #f5f5f5;
  border-radius: 12px;
  margin: 0px 16px 0 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.products__tags-list-link:hover {
  background: #a9a9a9;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.description {
  background: #f4f8ec;
  color: #6a983c;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-radius: 12px;
  padding: 0 8px;
  font-size: 12px;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.input-check,
.input-radio {
  display: none;
}

.label-check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 19px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.label-check::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1.5px solid #d1d1d1;
  border-radius: 0.25em;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.input-check:checked + .label-check::before {
  border-color: #6a983c;
  background-color: #6a983c;
  background-image: url("assets/img/checkbox.svg");
  background-size: 75%;
}

.label-radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  line-height: 19px;
  font-size: 14px;
}

.label-radio::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.input-radio:checked + .label-radio::before {
  border-color: #151515;
  background-color: #151515;
  background-image: url("assets/img/radio.svg");
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #f9f9f9;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
  color: #6a983c;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 2s opacity ease-in-out;
  transition: 2s opacity ease-in-out;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

@media (max-width: 900px) {
  .header__center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cabinet__list {
    margin-top: 20px;
  }
  .logo-link {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    width: 95%;
    height: 75px;
    z-index: 3;
    background-color: #ffff;
  }
  .header__center {
    padding: 100px 0 48px 0;
  }
  .header__center.basket {
    padding: 40px 0 48px 0;
  }
  .header__contacts {
    display: none;
  }
  .header__contacts.adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 2px solid #d1d1d1;
    border-top: 2px groove #d1d1d1;
  }
  .nav {
    display: none;
  }
  .nav.adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 18px;
    border-bottom: 2px groove #d1d1d1;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__list-item + .nav__list-item {
    padding-left: 0;
  }
  .burger__menu {
    display: block;
  }
  .logo-link {
    display: none;
    margin-bottom: 0;
  }
  .logo-link.nav {
    display: block;
  }
  .logo-link.basket {
    display: block;
    margin-bottom: 20px;
  }
  .content {
    padding: 0 10px;
  }
  .header__contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__contacts__list-item {
    font-size: 18px;
  }
  .header__contacts__list-item + .header__contacts__list-item {
    padding-left: 0;
  }
}

@media (max-width: 680px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list-item {
    width: 100%;
    margin-top: 14px;
    background-color: #ebebeb;
    padding-right: 20px;
    padding-left: 5px;
    border-radius: 12px;
  }
  .footer__list-item-title {
    cursor: pointer;
  }
  .footer__list-item-title::before {
    position: absolute;
    content: '';
    background-image: url("assets/img/ic-chevron-down-black.svg");
    background-repeat: no-repeat;
    background-position: center center;
    right: -17px;
    top: 3px;
    width: 20px;
    height: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .footer__list-item-title.active::before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .footer__list-info {
    display: none;
    border-radius: 12px;
  }
  .footer__list-info-item:last-child {
    padding-bottom: 5px;
  }
  .menu__list-item {
    margin: 16px 20px 16px 0;
  }
}

@media (max-width: 600px) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search-categories::after {
    right: 25%;
    top: 3px;
  }
  .search__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .search__input-txt {
    border-left: none;
    width: 240px;
  }
  .search__input-icon {
    margin-left: 0;
  }
}
/*# sourceMappingURL=default.css.map */